# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Distribution / packaging

build/
dist/
*.egg-info/

# Environments
.venv
env/
venv/
ENV/

# mypy
.mypy_cache/

# Ruff stuff:
.ruff_cache/

# Do not copy .tif files into GitHub folder
data/*.tif
outputs/*.tif